# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Django Recommended
*.egg-info
*.pot
*.py[co]
__pycache__
MANIFEST
dist/
docs/_build/
docs/locale/
node_modules/
tests/coverage_html/
tests/.coverage
build/
tests/report/

# Distribution / packaging
django-env/
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg
assets/

# Static
/static/**

# pycharm
.idea