{% extends 'sync/base.html' %}
{% load sync_extras %}
{% load static %}
{% block content %}

    <div class="row">
        <div class="col-4">
            <div class="opentraining-panel mt-5 shadow">
                <h1>Séance(s) du jour</h1>
                <p></p>
            </div>
        </div>

        <div class="col-4">
            <div class="opentraining-panel mt-5 shadow">
                <h1>Forme du jour</h1>
                <div>
                    <form>
                        <div class="form-group">
                            <label for="sommeil">Sommeil</label>
                            <input type="range" class="form-control" id="sommeil" min="10" max="1000" step="10"/>
                        </div>
                        <div class="form-group">
                            <label for="forme">Forme</label>
                            <input type="range" class="form-control" id="forme" min="10" max="1000" step="10"/>
                        </div>
                        <div class="form-group">
                            <label for="fatigue">Fatigue</label>
                            <input type="range" class="form-control" id="fatigue" min="10" max="1000" step="10"/>
                        </div>
                        <div class="form-group">
                            <label for="stress">Stress</label>
                            <input type="range" class="form-control" id="stress" min="10" max="1000" step="10"/>
                        </div>
                    </form>
                </div>
            </div>
        </div>

        <!--Dernière activités -->
        <div class="col-4">
            <div class="opentraining-panel mt-5 shadow">
                <h1>Dernière(s) activité(s)</h1>
                <div class="content mt-3">
                    {% for activity in activities %}
                        <div class="row pb-3">
                            <div class="ml-3">
                                {% if activity.type == 1 %}
                                    <img src="{% static 'img/swimming.png' %}" class="opentraining-image" alt="Natation" title="Natation"/>
                                {% elif activity.type == 2 %}
                                    <img src="{% static 'img/cycling.png' %}" class="opentraining-image" alt="Vélo" title="Vélo"/>
                                {% elif activity.type == 3 %}
                                    <img src="{% static 'img/running.png' %}" class="opentraining-image" alt="Course à pied" title="Course à pied"/>
                                {% else %}
                                    <img src="{% static 'img/autres.png' %}" class="opentraining-image" alt="Autres" title="Autres"/>
                                {% endif %}
                            </div>
                            <div class="col-9 ml-2">
                                <div class="opentraining-panel-body">{{ activity.name }} - {{ activity.elapsed_time_minutes }} min</div>
                                <div class="opentraining-panel-foot">{{ activity.date | date:"d/m/Y H:i"}}</div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-12">
            <div class="opentraining-panel mt-4 shadow">
                <h1>Récapitulatif hebdomadaire</h1>
                <div class="row">
                    <div class="col-4">
                        <div class="row">
                            <div class="ml-3">
                                <img src="{% static 'img/swimming.png' %}" class="opentraining-image" alt="Natation" title="Natation"/>
                            </div>

                            <div class="col-9">
                                <div class="row mb-1">
                                    <div class="col opentraining-recap-distance">{{ resume.swim.duration | duration }}</div>
                                    <div class="col justify-content-between text-right">{{ resume.swim.distance | swim_arround | floatformat:"0" }} m</div>
                                </div>
                                <div class="progress" style="height: 0.5em">
                                  <div class="progress-bar bg-info" role="progressbar" style="width: 100%" aria-valuenow="{% if resume.swim.duration > 0 %}100{% else %}0{% endif %}" aria-valuemin="0" aria-valuemax="100"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-4">
                        <div class="row">
                            <div class="ml-3">
                                <img src="{% static 'img/cycling.png' %}" class="opentraining-image" alt="Vélo" title="Vélo"/>
                            </div>

                            <div class="col-9">
                                <div class="row mb-1">
                                    <div class="col opentraining-recap-distance">{{ resume.bike.duration | duration }}</div>
                                    <div class="col justify-content-between text-right">{{ resume.bike.distance | distance_to_km | floatformat:"1" }} km</div>
                                </div>
                                <div class="progress" style="height: 0.5em">
                                  <div class="progress-bar bg-info" role="progressbar" style="width: 100%" aria-valuenow="{% if resume.bike.duration > 0 %}100{% else %}0{% endif %}" aria-valuemin="0" aria-valuemax="100"></div>
                                </div>
                            </div>

                        </div>
                    </div>
                    <div class="col-4">
                        <div class="row">
                            <div class="ml-3">
                                <img src="{% static 'img/running.png' %}" class="opentraining-image" alt="Course à pied" title="Course à pied"/>
                            </div>

                            <div class="col-9">
                                <div class="row mb-1">
                                    <div class="col opentraining-recap-distance">{{ resume.run.duration | duration  }}</div>
                                    <div class="col justify-content-between text-right">{{ resume.run.distance | distance_to_km | floatformat:"1" }} km</div>
                                </div>
                                <div class="progress" style="height: 0.5em">
                                  <div class="progress-bar bg-info" role="progressbar" style="width: 100%" aria-valuenow="{% if resume.run.duration > 0 %}100{% else %}0{% endif %}" aria-valuemin="0" aria-valuemax="100"></div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
